p{
  font-family: sans-serif;
}
.description{
  text-align: center;
}
.subh{
  text-decoration: underline;
}
.muted{
  color: grey;
  font-weight: 400;
  font-size: small;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#db{
  box-shadow: 0rem 0.7rem 2rem #2c3441d4;
  max-width: 600px;
  border-radius: 7px;
  /* margin-left: auto !important;
  margin-right: auto !important; */
}
